<!DOCTYPE html >
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>领养中心</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <meta name="keywords" content=""/>
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <link rel="stylesheet" href="./bootstrap/css/bootstrap.css" type="text/css" media="all">
    <!-- Owl-Carousel-CSS -->
    <link rel="stylesheet" href="./css/user/style.css" type="text/css" media="all" />
    <link rel="stylesheet" href="./bootstrap/css/bootstrap.min.css">
    <script src="./js/user/jquery-2.2.3.min.js"></script>
    <script src="./bootstrap/js/bootstrap.min.js"></script>

</head>
<body onload="AddOrDelModel()">
<div class="nav-links">
    <nav class='navbar navbar-default'>
        <div class='container'>
            <div class='collapse navbar-collapse'>
                <ul>
                    <li>
                        <a href="index.html">主页</a>
                    </li>
                    <li>
                        <a href="">宠物知识</a>
                    </li>
                    <li>
                        <a href="appoint.html">领养中心</a>
                    </li>
                    <li>
                        <a href="foster.html">寄养宠物</a>
                    </li>
                    <li>
                        <a href="user_appoint.html">个人预约</a>
                    </li>
                        <li id="edit_logout">
                            <div class="img"><img src="./images/user/t0.jpg" alt="" width="60px"
                                                  style="border-radius:50% " value=""
                                                  id="user_edit_modal_btn" onclick="user_info()"></div>
                        </li>
                        <a id="logout">退出</a>
                        <li id="login_register">
                            <button class="btn-primary btn-lg" data-toggle="modal" data-target="#login">注册/登录</button>
                        </li>

                </ul>
            </div>
        </div>
    </nav>
</div>
<!-- services -->

<div class="services" id="services">
    <div class="container">
        <h3 class="agile-title">领养中心</h3>
        <div class="w3_agile_services_grids">
        </div>
    </div>

    <div class="w3l-img-side">
        <img src="./images/animal/cat.jpg" alt="" />
    </div>
    <div class="w3l-img-side w3l-img-side2">
        <img src="./images/animal/dog.jpg" alt="" />
    </div>
</div >
    <div class="valuable" >

    </div>

</div>
<script>
    function AddOrDelModel(){
            console.log("进来");
            if (localStorage['token']!=null){
                console.log("进来");
                var v = document.getElementById("login_register");
                v.style.visibility='hidden';
            }
            animalInformation=eval( sessionStorage.getItem("animalInformation"));
        console.log("进来");
            console.log(sessionStorage.getItem("animalInformation"));
            console.log(animalInformation.length);
            console.log(animalInformation[0]);
            console.log(animalInformation[0]['color']);
            for(var i=0;i<animalInformation.length;i++){
                let a = document.getElementsByClassName("valuable")[0];
                let d =  document.createElement("div");
                d.className="increase";
                d.style.float="left";
                let img = document.createElement("img");
                let a_2 =document.createElement("a");
                // 设置大小和显示,不然图片大小会变成0 x 0;
                img.src="./images/1.png";
                img.style.width = "400px";
                img.style.height = "300px";
                img.style.display = "block";
                a_2.text=animalInformation[i]['species'];
                a_2.href="show.html";
                sessionStorage.setItem("animal_id",i);
                d.appendChild(img);
                d.appendChild(a_2);
                a.appendChild(d);
            }
            }

    function user_info(){
        window.location.href="personal-info.html";
    }

</script>

</body>

</html>