<!DOCTYPE html >
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>预约中心</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <meta name="keywords" content=""/>
    <style type="text/css">
        #div1{
            width:200px;
            height:200px;

            float:left;
        }
        #div2{
            width:200px;
            height:200px;

            float:left;
        }
        #div3{
            width:200px;
            height:200px;

            float:left;
        }
    </style>

    <script>
        var countTag = 0;
        var tags=new Array("","","","","");
        function  addTag() {
            var tagValue = document.myForm.searchBar.value;
            var container = document.getElementById("div1");
            if(countTag!=5){
                for(var i= 0; i < 5; i++){
                    if (tags[i] == tagValue){
                        tagValue = "";
                        break;
                    }
                }
                if(tagValue!= ""){
                    for(var i= 0; i < 5; i++){
                        if(tags[i] ==""){
                            tags[i] = tagValue;
                            var newDiv=document.createElement("div");
                            var tag =document.createElement("input");
                            tag.type = "button";
                            tag.name = i;
                            tag.value = tagValue;
                            tag.onclick = function remo()
                            {
                                container.removeChild(newDiv);
                                tags[tag.name]="";
                                countTag --;
                            };
                            newDiv.appendChild(tag);
                            container.appendChild(newDiv);
                            countTag ++;
                            document.getElementById("searchBar").value="";
                            break;
                        }

                    }
                }
            }

        }

        function search1(){
            if (localStorage['token']!=null){
                var v = document.getElementById("login_register");
                v.style.visibility='hidden';
            }
            else{
              window.location.href="index.html";
            }
            var xhr = new XMLHttpRequest();
            xhr.onreadystatechange = function () {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    if(xhr.responseText != ""){
                        //alert(","+xhr.responseText+",");
                        //animalInformation=eval(sessionStorage.getItem("animalInformation"));
                        document.getElementsByClassName("valuable")[0].innerHTML="";
                        animalInformation=JSON.parse(xhr.responseText);
                        for(var i=0;i<animalInformation.length;i++){
                            let a = document.getElementsByClassName("valuable")[0];
                            let d =  document.createElement("div");
                            var label1 = document.createElement("a");
                            var label2 = document.createElement("a");
                            var label3 = document.createElement("a");
                            var another=document.createElement("br")
                            d.className="increase";
                            d.style.float="left";
                            let img = document.createElement("img");
                            let a_2 =document.createElement("a");
                            // 设置大小和显示,不然图片大小会变成0 x 0;
                            img.src="./images/" + animalInformation[i]['pic']+ ".jpg";
                            img.style.width = "400px";
                            img.style.height = "300px";
                            img.style.display = "block";
                            a_2.text=animalInformation[i]['breed'];
                            var tags = animalInformation[i]['tag'];
                            var labels = tags.split(",");

                            label1.text = "#"+labels[0]+ " ";
                            label2.text = "#"+labels[1]+" ";
                            label3.text = "#"+labels[2]+" ";
                            a_2.href="show.html";
                            sessionStorage.setItem("animal_id",i);
                            d.style.margin="20px";
                            d.appendChild(img);
                            d.appendChild(a_2);
                            d.appendChild(another);
                            d.appendChild(label1);
                            d.appendChild(label2);
                            d.appendChild(label3);
                            a.appendChild(d);
                        }

                    }
                }
            }
            var data = {
                tag1:tags[0],
                tag2:tags[1],
                tag3:tags[2],
                tag4:tags[3],
                tag5:tags[4],
                //type:"收容宠物"
            };
            data = JSON.stringify(data);
            url = "http://localhost:8989/petshelter/pet/selectByTag"
            xhr.open("post", url, true)
            xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
            xhr.send(data);
        }
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }

        // function AddOrDelModel(){
        //     console.log("进来");
        //     if (localStorage['token']!=null){
        //         var v = document.getElementById("login_register");
        //         v.style.visibility='hidden';
        //     }
        //     else{
        //        window.location.href="index.html";
        //     }
        //     animalInformation=eval( sessionStorage.getItem("animalInformation"));
        //     for(var i=0;i<animalInformation.length;i++){
        //         let a = document.getElementsByClassName("valuable")[0];
        //         let d =  document.createElement("div");
        //         d.className="increase";
        //         d.style.float="left";
        //         let img = document.createElement("img");
        //         let a_2 =document.createElement("a");
        //         // 设置大小和显示,不然图片大小会变成0 x 0;
        //         img.src="./images/1.png";
        //         img.style.width = "400px";
        //         img.style.height = "300px";
        //         img.style.display = "block";
        //         a_2.text=animalInformation[i]['species'];
        //         a_2.href="show.html";
        //          sessionStorage.setItem("animal_id",i);
        //         d.appendChild(img);
        //         d.appendChild(a_2);
        //         a.appendChild(d);
        //     }
        // }

        function user_info(){
            window.location.href="personal-info.html";
        }
        function back(){
            localStorage.clear();
            window.location.href="index.html";
        }

        function uniq(array){
            var temp = []; //一个新的临时数组
            for(var i = 0; i < array.length; i++){
                if(temp.indexOf(array[i]) == -1){
                    temp.push(array[i]);
                }
            }
            return temp;
        }

        function addSelect1() {
            var xhr = new XMLHttpRequest();
            xhr.onreadystatechange = function () {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    animalInformation=JSON.parse(xhr.responseText);
                    //alert(xhr.responseText);
                    var species = new Array();
                    for(var i=0;i<animalInformation.length;i++){
                        species[i] = animalInformation[i]['species'];
                    }
                    species = uniq(species);
                    //alert(species);
                    var objSelectNow=document.getElementById("select1");
                    var inner="<option value='1'>无</option>";
                    objSelectNow.innerHTML=inner;
                    for(var i=0;i<species.length;i++){
                        var objOption = document.createElement("OPTION");
                        objOption.text= species[i];
                        objOption.value=species[i];
                        objSelectNow.options.add(objOption);
                    }
                }

            }
            var data = {
                tag1:""
            };
            data = JSON.stringify(data);
            url = "http://localhost:8989/petshelter/pet/selectByTag"
            xhr.open("post", url, true)
            xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
            xhr.send(data);

        }

        function addOtherSelect(){
            var select1 = document.getElementById("select1");
            var species = select1.options[select1.selectedIndex].value;
            if(species != 1){
                var xhr = new XMLHttpRequest();
                xhr.onreadystatechange = function () {
                    if (xhr.readyState == 4 && xhr.status == 200) {
                        animalInformation=JSON.parse(xhr.responseText);
                        //alert(xhr.responseText);
                        var breed = new Array();
                        var color = new Array();
                        var sex = new Array();
                        for(var i=0;i<animalInformation.length;i++){
                            breed[i] = animalInformation[i]['breed'];
                            color[i] = animalInformation[i]['color'];
                            sex[i] = animalInformation[i]['sex'];
                        }
                        breed = uniq(breed);
                        color = uniq(color);
                        sex = uniq(sex);
                        //alert(species);
                        var select2=document.getElementById("select2");
                        var inner2="<option value=''>不定</option>";
                        select2.innerHTML=inner2;
                        for(var i=0;i<breed.length;i++){
                            var objOption = document.createElement("OPTION");
                            objOption.text= breed[i];
                            objOption.value=breed[i];
                            select2.options.add(objOption);
                        }
                        var select3=document.getElementById("select3");
                        var inner3="<option value=''>不定</option>";
                        select3.innerHTML=inner3;
                        for(var i=0;i<color.length;i++){
                            var objOption = document.createElement("OPTION");
                            objOption.text= color[i];
                            objOption.value=color[i];
                            select3.options.add(objOption);
                        }
                        var select4=document.getElementById("select4");
                        var inner4="<option value=''>不定</option>";
                        select4.innerHTML=inner4;
                        for(var i=0;i<sex.length;i++){
                            var objOption = document.createElement("OPTION");
                            objOption.text= sex[i];
                            objOption.value=sex[i];
                            select4.options.add(objOption);
                        }
                    }

                }
                var data = {
                    species:species
                };
                data = JSON.stringify(data);
                url = "http://localhost:8989/petshelter/pet/select"
                xhr.open("post", url, true)
                xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
                xhr.send(data);
            }else{
                var select2=document.getElementById("select2");
                var select3=document.getElementById("select3");
                var select4=document.getElementById("select4");
                select2.innerHTML="";
                select3.innerHTML="";
                select4.innerHTML="";
            }
        }

        function search2() {
            var select1=document.getElementById("select1");
            var select2=document.getElementById("select2");
            var select3=document.getElementById("select3");
            var select4=document.getElementById("select4");
            var species = select1.options[select1.selectedIndex].value;
            var breed = select2.options[select2.selectedIndex].value;
            var color = select3.options[select3.selectedIndex].value;
            var sex = select4.options[select4.selectedIndex].value;
            //alert();
            if(species != 1){
                var xhr = new XMLHttpRequest();
                xhr.onreadystatechange = function () {
                    if (xhr.readyState == 4 && xhr.status == 200) {

                        if(xhr.responseText == "[]") {
                            alert("不存在这样的宠物");
                            document.getElementsByClassName("valuable")[0].innerHTML="";
                        }
                        else{if(xhr.responseText != ""){
                            //alert(","+xhr.responseText+",");
                            //animalInformation=eval(sessionStorage.getItem("animalInformation"));
                            document.getElementsByClassName("valuable")[0].innerHTML="";
                            animalInformation=JSON.parse(xhr.responseText);
                            for(var i=0;i<animalInformation.length;i++){
                                let a = document.getElementsByClassName("valuable")[0];
                                let d =  document.createElement("div");
                                var label1 = document.createElement("a");
                                var label2 = document.createElement("a");
                                var label3 = document.createElement("a");
                                var another=document.createElement("br")
                                d.className="increase";
                                d.style.float="left";
                                let img = document.createElement("img");
                                let a_2 =document.createElement("a");
                                // 设置大小和显示,不然图片大小会变成0 x 0;
                                img.src="./images/" + animalInformation[i]['pic']+ ".jpg";
                                img.style.width = "400px";
                                img.style.height = "300px";
                                img.style.display = "block";
                                a_2.text=animalInformation[i]['breed'];
                                var tags = animalInformation[i]['tag'];
                                var labels = tags.split(",");

                                label1.text = "#"+labels[0]+ " ";
                                label2.text = "#"+labels[1]+" ";
                                label3.text = "#"+labels[2]+" ";
                                a_2.href="show.html";
                                sessionStorage.setItem("animal_id",i);
                                d.style.margin="20px";
                                d.appendChild(img);
                                d.appendChild(a_2);
                                d.appendChild(another);
                                d.appendChild(label1);
                                d.appendChild(label2);
                                d.appendChild(label3);
                                a.appendChild(d);
                            }

                        }}
                    }
                }
                var data = {
                    species:species,
                    breed:breed,
                    color:color,
                    sex:sex
                };
                if(breed==""){
                    delete data.breed;
                    delete data[breed];
                }
                if(color==""){
                    delete data.color;
                    delete data[color];
                }
                if(sex==""){
                    delete data.sex;
                    delete data[sex];
                }
                data = JSON.stringify(data);
                url = "http://localhost:8989/petshelter/pet/select"
                xhr.open("post", url, true)
                xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
                xhr.send(data);
            }else{
                alert("请先选择动物种类");
            }

        }
        function search() {
            search1();
            addSelect1();
        }
    </script>
    <link rel="stylesheet" href="./bootstrap/css/bootstrap.css" type="text/css" media="all">
    <!-- Owl-Carousel-CSS -->
    <link rel="stylesheet" href="./css/user/style.css" type="text/css" media="all" />
    <link rel="stylesheet" href="./bootstrap/css/bootstrap.min.css">
    <script src="./js/user/jquery-2.2.3.min.js"></script>
    <script src="./bootstrap/js/bootstrap.min.js"></script>

</head>
<body onload="search()">

<div class="nav-links">
    <nav class='navbar navbar-default'>
        <div class='container'>
            <div class='collapse navbar-collapse'>
                <ul>
                    <li>
                        <a href="index.html">主页</a>
                    </li>
                    <li>
                        <a href="find.html">寻宠启示</a>
                    </li>
                    <li>
                        <a href="appoint.html">预约中心</a>
                    </li>
                    <li>
                        <a href="foster.html">寄养宠物</a>
                    </li>
                    <li>
                        <a href="user_appoint.html">个人预约</a>
                    </li>
                        <li id="edit_logout">
                            <div class="img"><img src="./images/user/t0.jpg" alt="" width="60px"
                                                  style="border-radius:50% " value=""
                                                  id="user_edit_modal_btn" onclick="user_info()"></div>
                        </li>
                        <a id="logout" onclick="back()">退出</a>
                        <li id="login_register">
                            <button class="btn-primary btn-lg" data-toggle="modal" data-target="#login">注册/登录</button>
                        </li>

                </ul>
            </div>
        </div>
    </nav>
</div>
<!-- services -->

<div class="services" id="services">
    <div class="container">
        <h3 class="agile-title">预约中心</h3>
        <div id="container">
            <div id="div1">
                <form name="myForm">
                    <label>按标签查找</label>
                        <br/>
                    <input id="searchBar" type="text" name="searchBar" placeholder="请输入您要添加的标签...">
                    <input type="button" onclick="addTag()" value="添加标签">
                    <input type="button" onclick="search1()" value="搜索宠物" />
                    <br/>
                    <label>(点击已添加的标签即可删除该标签)</label>
                </form>
            </div>
            <div id ="div3"></div>
                <div id="div2">
                    <label>精确查找</label>
                    <br/>
                    <label>动物种类</label>
                    <select id = "select1" onchange="addOtherSelect()" >
                    </select>
                    <br/>

                    <label>动物品种</label>
                    <select id = "select2">
                    </select>
                    <br/>

                    <label>动物颜色</label>
                    <select id = "select3">
                    </select>
                    <br/>

                    <label>动物性别</label>
                    <select id = "select4">
                    </select>
                    <br/>

                    <input type="button" value="搜索" onclick="search2()">
                </div>

        </div>

    </div>

    <div class="w3l-img-side">
        <img src="./images/animal/cat.jpg" alt="" />
    </div>
    <div class="w3l-img-side w3l-img-side2">
        <img src="./images/animal/dog.jpg" alt="" />
    </div>
</div >
    <div class="valuable" >

    </div>

</div>


</body>

</html>