<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>寄养</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <meta name="keywords" content=""/>
    <link rel="stylesheet" href="./bootstrap/css/bootstrap.css" type="text/css" media="all">
    <link rel="stylesheet" href="./css/user/style.css" type="text/css" media="all" />
    <link rel="stylesheet" href="./css/user/font-awesome.css" type="text/css" media="all">
</head>
<body onload="first_run()">

<div class="nav-links">
    <nav class='navbar navbar-default'>
        <div class='container'>
            <div class='collapse navbar-collapse'>
                <ul>
                    <li>
                        <a href="index.html">主页</a>
                    </li>
                    <li>
                        <a href="">宠物知识</a>
                    </li>
                    <li>
                        <a href="appoint.html">领养中心</a>
                    </li>
                    <li>
                        <a href="foster.html">寄养宠物</a>
                    </li>
                    <li>
                        <a href="">个人预约</a>
                    </li>
                    <li id="edit_logout">
                        <div class="img"><img src="./images/user/t0.jpg" alt="" width="60px"
                                              style="border-radius:50% " value=""
                                              id="user_edit_modal_btn"></div>
                    </li>
                    <a id="logout">退出</a>
                    <li id="login_register">
                        <button class="btn-primary btn-lg" data-toggle="modal" data-target="#login">注册/登录</button>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
</div>
<!-- team -->
<div class="team" id="team">
    <div class="container">
        <h3 class="agile-title">寄养宠物</h3>
        <div class="team-agileinfo">
        </div>
    </div>
    <!-- 显示分页信息 -->
    <div class="row">
        <div class="col-md-5"></div>
        <!-- 分页条信息 -->
        <div class="col-md-6" id="page_nav_area"></div>
    </div>
</div>

<!-- contact -->
<div class="contact" id="contact">
    <div class="container">
        <div class="col-md-9 col-sm-9 contact-right">
            <form id="save_apply_form" >
                <input type="text" id="name" name="name" placeholder="你的名字" >
                <input type="text" id="email" name="email" placeholder="你的邮件号" >
                <input type="text" id="from_date" name="age" placeholder="开始时间">
                <input type="text" id="end_date" name="telephone" placeholder="结束时间">
                <textarea name="message" id="reason" placeholder=你想当寄养的理由"></textarea>
            </form>
            <button type="button" id="save_apply_btn" onclick="submit_request()">提交</button>
        </div>
        <div class="col-md-3 col-sm-3 contact-left">
            <div class="address">
                <h4>
                    <i class="fa fa-map-marker" aria-hidden="true"></i>Location</h4>
                <p>345 Setwant natrer,</p>
                <p>Metropolitan, Italy.</p>
            </div>
            <div class="phone">
                <h4>
                    <i class="fa fa-phone" aria-hidden="true"></i>PHONE</h4>
                <p>+0000000000000000</p>
                <p>+0000000000000000</p>
            </div>
            <div class="email">
                <h4>
                    <i class="fa fa-envelope-o" aria-hidden="true"></i>E-MAIL</h4>
                <p>
                    <a href="mailto:info@example.com">3392563733@qq.com</a>
                </p>
                <p>
                    <a href="mailto:info@example.com">2432924263@qq.com</a>
                </p>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function first_run(){
        if (localStorage['token']!=null){
            var v = document.getElementById("login_register");
            v.style.visibility='hidden';
        }
    }
    function submit_request() {
        var user_id = document.getElementById("name").value;
        var from_time = document.getElementById("from_date").value;
        var end_time = document.getElementById("end_date").value;
        var email = document.getElementById("email").value;
        var reason = document.getElementById("reason").value;
        var xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function() {
            if (xhr.readyState == 4 && xhr.status == 200) {
                alert("提交成功");
                window.location.href="appoint.html";
            }
        }
        //今天的时间
         var day2 = new Date();
         day2.setTime(day2.getTime());
        var s2 = day2.getFullYear()+"-" + (day2.getMonth()+1) + "-" + day2.getDate();
        //明天的时间
        var day3 = new Date();
        day3.setTime(day3.getTime()+24*60*60*1000);
        var s3 = day3.getFullYear()+"-" + (day3.getMonth()+1) + "-" + day3.getDate();
        var data={
            user_id:user_id,
            from_date:s2,
            to_date:s3,
            remark:reason
        };
        data= JSON.stringify(data);
        url="http://localhost:8989/petshelter/feedment/feed"
        xhr.open("post", url, true)
        xhr.setRequestHeader("Content-Type","application/json;charset=UTF-8");
        console.log(localStorage.getItem("token"));
        xhr.setRequestHeader("token",localStorage.getItem("token"));
        xhr.send(data);

    }

</script>
</body>
</html>

