<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="http://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <link type="text/css" rel="stylesheet" href="searchBar.css">

    <script>
        var countTag = 0;
        var tags=new Array("","","","","");
        function  addTag() {
            var tagValue = document.myForm.searchBar.value;
            var container = document.getElementById("container");
            if(countTag!=5){
                for(var i= 0; i < 5; i++){
                    if (tags[i] == tagValue){
                        tagValue = "";
                        break;
                    }
                }
                if(tagValue!= ""){
                    for(var i= 0; i < 5; i++){
                        if(tags[i] ==""){
                            tags[i] = tagValue;
                            var newDiv=document.createElement("div");
                            var tag =document.createElement("input");
                            tag.type = "button";
                            tag.name = i;
                            tag.value = tagValue;
                            tag.onclick = function remo()
                            {
                                container.removeChild(newDiv);
                                tags[tag.name]="";
                                countTag --;
                            };
                            newDiv.appendChild(tag);
                            container.appendChild(newDiv);
                            countTag ++;
                            break;
                        }

                    }
                }
                }

        }
        // function showTags(){
        //     alert(tags[0] + tags[1] + tags[2] + tags[3] + tags[4]);
        // }
        function search(){
            var xhr = new XMLHttpRequest();
            xhr.onreadystatechange = function () {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    alert(","+xhr.responseText+",");
                }
            }
            var data = {
                tag1:tags[0],
                tag2:tags[1],
                tag3:tags[2],
                tag4:tags[3],
                tag5:tags[4],
                type:"收容宠物"
            };
            data = JSON.stringify(data);
            url = "http://localhost:8989/petshelter/pet/selectByTag"
            xhr.open("post", url, true)
            xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
            xhr.send(data);
        }
    </script>

</head>
<body>
<!--<a href="find1.html">领养搜索</a>-->
<!--<br/>-->
<!--<a href="find2.html">助养搜索</a>-->
<div id="container">
<!--    <input type="button" onclick="showTags()" value="展示现在的tag" />-->
    <input type="button" onclick="search()" value="搜索宠物" />
    <div class="search bar7">
        <form name="myForm">
            <input type="text" name="searchBar" placeholder="请输入您要搜索的内容...">
            <button type="button" onclick="addTag()"></button>
        </form>
    </div>


</div>



</body>
</html>
