<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.UserDao">

    <!--insert-->
    <insert id="insert" parameterType="User">
        insert  into user(user_name,first_name,last_name,password,phone) values(#{user_name},#{first_name},#{last_name},#{password},#{phone})
    </insert>

    <!--signIn-->
    <select id="signIn" parameterType="User" resultType="User">
        select * from user where user_id=#{user_id} and password=#{password}
    </select>

    <!--select by user_name-->
    <select id="selectByUserName" parameterType="User" resultType="User">
        select * from user where user_name=#{user_name}
    </select>

    <!--select by phone-->
    <select id="selectByPhone" parameterType="User" resultType="User">
        select * from user where phone=#{phone}
    </select>

    <!--select admin by username-->
    <select id="selectAdminByName" parameterType="User" resultType="User">
        select * from user where user_name=#{user_name} and is_admin=1
    </select>



</mapper>